.container {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .button-1 {
    display: block;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #fe2c55;
    color: #fff;
  }
  
  .button-2 {
    display: block;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #fe2c55E6; /* 0.9 alpha */
    color: #fff;
  }
  
  .button-3 {
    display: block;
    width: 150px;
    height: 30px;
    border: none;
    background-color: #fe2c55;
    color: #fff;
    border-radius: 6px;
  }
  
  .button-3:hover {
    opacity: 0.8;
  }